@import '../global/system';

.results-wrap {
  align-items: flex-start;
  animation-duration: .2s;
  animation-name: slidein;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0 50px 50px -25px rgba(0, 0, 0, 0.0983665);
  box-sizing: border-box;
  display: flex;
  margin: 48px auto 0;
  padding: 37px 32px;
  z-index: 2;

  @media (max-width: $breakpt-medium) {
    padding: 37px 24px;
  }

  @media (max-width: $breakpt-small) {
    align-items: center;
    flex-direction: column;
    margin: 24px 24px;
    padding: 26px 24px;
    width: calc(100% - 48px);
  }
}
